@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  background: linear-gradient(to right, rgb(208, 124, 124), rgb(81, 105, 158));
}

button {
  cursor: pointer;
}